
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* Базовые стили для всего документа */
body {
font-family: "OCR A Std", monospace;
line-height: 1.6;
background-color: #cfcdef;
}

/* Стилизация заголовков */
h1, h2, h3 {
margin-bottom: 15px;
color: #444;
}

h1 {
font-size: 2.5rem;
text-align: center;
}

h2 {
font-size: 1.8rem;
}

h3 {
font-size: 1.3rem;
}

/* Стилизация параграфов */
p {
margin-bottom: 15px;
}

/* Стилизация ссылок */
a {
text-decoration: none;
color: #3498db;
}

a:hover {
color: #2980b9;
text-decoration: underline;
}

/* Стилизация контейнеров */
main, header, footer {
padding: 20px;
max-width: 1200px;
margin: 0 auto;
}

.box {
  max-width: 600px;
  margin: auto;
  background-color: #ffffff;
  border: #004da413 1px solid;
}









