* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: "OCR A Std", monospace;
line-height: 1.6;
background-color: #cfcdef;
}

h1{
margin-bottom: 15px;
color: #444;
}

h1 {
font-size: 2.5rem;
text-align: center;
}

p {
margin-bottom: 15px;
}

a {
text-decoration: none;
color: #3498db;
}

a:hover {
color: #2980b9;
text-decoration: underline;
}

main, header, footer {
padding: 20px;
max-width: 1200px;
margin: 0 auto;
}

.box {
  max-width: 600px;
  margin: auto;
  background-color: #ffffff;
  border: #004da413 1px solid;
}









